body {
  background-color: #bfcfbb;
  font-family: "Fuzzy Bubbles", serif;
}

a {
  color: #324D3E;
}

.weather-app {
  background-color: white;
  max-width: 650px;
  margin: 30px auto;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  border-radius: 16px;
  padding: 30px;
}

header {
  border-bottom: 1px solid #D8E5D7;
  padding: 0 0 25px 0;
}

.search-form-input {
  background-color: #D8E5D7;
  border: none;
  border-radius: 6px;
  width: 75%;
  font-family: "Fuzzy Bubbles", serif;
  font-size: 16px;
  padding: 15px 20px;
}

.search-form-button {
  background-color: #74896E;
  border: none;
  border-radius: 6px;
  width: 23%;
  margin-left: 4px;
  font-family: "Fuzzy Bubbles", serif;
  font-size: 16px;
  padding: 15px 25px;
  color: white;
}

main {
  padding: 30px 0 25px 0;
}

.current-weather {
  display: flex;
  justify-content: space-between;
}

.current-weather-city {
  margin: 0;
  color: #324D3E;
  font-size: 38px;
  line-height: 48px;
}

.current-weather-details {
  color: #8FA48B;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}

.current-weather-details strong {
  color: #BC6C26;
}

.current-weather-temp {
  color: #324D3E;
  display: flex;
}

.current-weather-temp-icon {
  width: 73px;
  height: 73px;
  margin-top: 2px;
}

.current-weather-temp-value {
  font-size: 80px;
  font-weight: bold;
}

.current-weather-temp-unit {
  font-size: 40px;
  margin-top: 15px;
  margin-left: 2px;
}

footer {
  border-top: 1px solid #D8E5D7;
  padding: 25px 0 0 0;
  text-align: center;
  font-size: 13px;
  color: rgba(50, 77, 62, 0.7);
}